body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("img/nike wallpaper/jpg");
    background-position: relative;
    background-repeat: repeat; 
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 19px;
  }
  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    position:relative ;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
  }
  .logo img {
  width: 120px;
  height: 120px;
  }
  .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .logo{
    width: 120px;
    height: 100px;
  }
  .logo{
    color: black;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
  }
  nav ul li a:hover {
    background-color: gray;
    border-radius: 5px;
  }
  .titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
  }
  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
  section img {
  display: block;
  margin: 0 auto;
  }
  .rodape {
    background: white; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
  }
  .rodape p{
    color: black;
  }
  h1, h2{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
    line-height: 1.4em;
  }
  p{
    font-size: 1,5em;
    text-align: justify;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
    line-height: 2.4em;
  }
  section{
    background: rgba(0, 0, 0, 0.8); 
    text-align: center;
    line-height: 1.4em;
  }
  header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .caixa-imagem{
    text-align: center;
    margin-top: 1%;
  }
  figure{
    text-align: center;
    display: inline-block;
  }
  figure img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  figcaption{
    margin: 1.0em;
    text-align: center;
    color: gold;
  }
  .menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }
  
  nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }
  
  #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }
  
  nav ul li {
        text-align: center;
        margin: 0;
    }
  
  nav ul li a {
        padding: 15px 0;
    }
    
  nav ul li label {
        width: 100%;
        display: block;
    }
  }
   ul li {
    border-bottom: 0.3rem solid black;
}
